@import './reset.scss';
@import './function.scss';

.global-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.global-ellipsis-line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all;
}

.global-mgr-20 {
  margin-right: 20px;
}

.global-mgt-20 {
  margin-top: 20px;
}

.global-mgt-12 {
  margin-top: 12px;
}

.text-area-resize-none {
  & textarea {
    resize: none;
  }
}

.global-black-symbol {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50% 50%;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  margin: 0 4px;
}

.global-red-point {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

.ant-form-label-point-show {
  .ant-form-item-label> {
    ::before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
  }
}