.light {
  --theme-bg-img: url('../images/home_bg_light.jpeg');
  --login-title-color: #6e3dc8;
  --login-form-bg: #b1cbea;
  --theme-bg-1: #f4f8f8;
  --theme-bg-2: #f3f3f3;
  --theme-bg-3: #eaf5f3;
  --theme-bg-4: #fff;
  --theme-font-1: #000;
}

.dark {
  --theme-bg-img: url('../images/home_bg_dark.jpeg');
  --login-title-color: #82e1de;
  --login-form-bg: #721ec6;
  --theme-bg-1: #2a2940;
  --theme-bg-2: #030a0f;
  --theme-bg-3: #075371;
  --theme-bg-4: #fff;
  --theme-font-1: #fff;
}