.layout-login {
  height: 100%;
  overflow: hidden;
  position: relative;
  @include theme-bg;

  .login-wrap {
    height: 100%;
    min-width: 452px;
    min-height: 628px;
    font-size: 0;
    display: flex;
    align-items: center;

    .login-content {
      flex: 1;
    }

    .project-name {
      font-family: 'PingFangSC-Regular';
      font-size: 24px;
      color: $login-project-name;
      line-height: 24px;
      text-align: center;
      padding-bottom: 60px;
    }

    .login-form {
      width: 400px;
      height: 320px;
      margin: 0 auto;
      background-color: var(--login-form-bg);
      border-radius: 20px;
      padding: 20px 60px;

      .login-title {
        font-size: 20px;
        font-weight: 500;
        color: var(--login-title-color);
        letter-spacing: 0;
        box-sizing: border-box;
        text-align: center;
        padding-bottom: 20px;
      }

      .login-label {
        font-size: 14px;
        color: $login-label-color;
        line-height: 24px;
        padding-bottom: 2px;
      }

      .ant-form .ant-form-horizontal {

        .ant-form-item {

          .ant-input-affix-wrapper {

            .ant-input {
              // padding-top: 4px;
              // padding-bottom: 4px;
              padding: 0;
            }
          }

          .ant-input {
            height: 40px;
            line-height: 40px;
            border-radius: 0;
          }

          .ant-input-password {
            padding: 0 12px;

            .ant-input {
              height: 38px;
              line-height: 38px;
            }
          }

          &.ant-form-item-with-help {}
        }

        .ant-form-explain {}
      }

      .login-btn {
        .ant-btn.ant-btn-primary {
          height: 40px;
          font-size: 18px;
          border-radius: 20px;
          background-color: $primary-btn-color;
          border-color: $primary-btn-color;
        }
      }

      .ant-btn.ant-btn-primary {
        width: 280px;
        margin: 0 auto 0;
        display: block;
      }
    }
  }

  .ant-input-affix-wrapper {
    background: rgba(255, 255, 255, .8);
    border-width: 0;
    border-radius: 18px;
    height: 36px;

    .ant-input {
      background-color: transparent !important;
    }
  }
}