.layout-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: $header_height;
  padding: 0 20px;
  color: var(--theme-font);
  user-select: none;
  background: var(--theme-bg);
  line-height: $header_height;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid var(--theme-border-color);

  .u-left-menu {
    flex: 1;
    height: 100%;

    .u-app-name {
      font-size: 20px;
    }
  }

  .u-right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .u-item {
      display: flex;
      align-items: center;

      .u-icon {
        font-size: 16px;
        fill: var(--theme-font);
      }

      .u-text {
        margin-left: 4px;
        font-size: 14px;
      }
    }

    .u-login {
      cursor: pointer;
      font-size: 18px;
    }

    .u-item+.u-item {
      margin-left: 24px;
    }

    .m-github {
      cursor: pointer;

      &-icon {
        font-size: 16px;
        color: var(--theme-font);
      }

      &:hover {}
    }
  }
}