.g-tags-tree {
  position: fixed;
  top: 140px;
  left: 20px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 4px;
  max-height: 500px;
  max-width: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
}