.g-document-detail {
  width: 1000px;
  margin-left: calc((100% - 1000px) / 2);
  height: 100%;
  display: flex;
  flex-direction: column;

  .m-document-content {
    width: 100%;
    flex: 1;
    // background-color: var(--theme-bg-1);
    border-radius: 16px;
    padding: 12px;
    margin-top: 12px;
  }
}

.g-document-detail-spin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-document {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  .m-doc-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: var(--theme-bg-1);
    z-index: 1;
  }

  .m-document-container {
    position: relative;
    margin-top: 48px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;

    .p-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    .p-doc-list {
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
    }

    .p-scroll-bottom {
      text-align: center;
      color: rgba(204, 204, 204, .7);
      line-height: 32px;
    }
  }
}

.page-frame-ele {
  .m-doc-search {
    top: 36px;
  }
}