.layout-aside {
  position: relative;
  z-index: 99;
  left: 0;
  bottom: 0;
  background: var(--theme-bg) !important;
  transform: translateZ(0);
  font-size: 18px;
  color: #000;
  box-sizing: border-box;
  user-select: none;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);

  .ant-layout-sider-children {
    // overflow-y: auto;
  }

  .layout-aside-collapsed {
    position: absolute;
    right: 10px;
    bottom: 40px;
  }

  .aside-logout {
    position: absolute;
    right: 10px;
    bottom: 10px;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .aside-logo {
    margin-bottom: 10px;
    line-height: 40px;
    padding-left: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &:hover {
    overflow-y: auto;
  }

  .ant-menu {
    border: none;
    background: var(--theme-bg);
    font-size: 14px;

    .ant-menu-submenu-arrow {

      &::before,
      &::after {
        // background: $menu-nor-color;
        background-image: none;
      }
    }

    .ant-menu-item,
    .ant-menu-submenu .ant-menu-submenu-title {
      height: 36px;
      line-height: 36px;
      margin-bottom: 8px;
      margin-top: 0;
    }

    .ant-menu-submenu {

      .ant-menu-submenu-title {
        padding-left: 15px !important;

        &:focus {
          outline: none;
        }

        &:active {
          background: none;
        }
      }

      .ant-menu-item {
        padding-left: 40px !important;
      }
    }

    .ant-menu-item {
      padding-left: 15px !important;

      &:focus {
        outline: none;
      }

      &:active {
        background: none;
      }

      &.ant-menu-item-selected {
        background: none;

        &::after {
          display: none;
        }
      }
    }

    // .ant-menu-submenu .ant-menu-item,
    // .ant-menu-item {

    //   &.ant-menu-item-selected {
    //     color: #ffffff !important;
    //     background: #4D8BED;
    //   }

    //   &:hover {
    //     opacity: 0.8;
    //   }
    // }

    // .ant-menu-submenu-selected,
    // .ant-menu-submenu-selected .ant-menu-submenu-title:hover {
    //   color: #fff;
    // }

    // .ant-menu-submenu-title {
    //   &:hover {
    //     color: #4D8BED;
    //   }
    // }
  }
}

.page-frame-ele {
  .layout-aside-collapsed {
    bottom: 76px;
  }

  .aside-logout {
    bottom: 46px;
  }
}