.g-home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: var(--home-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .m-hb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 10000;

    .g-header-bar {
      margin-top: -100px;
      transition: all 0.3s ease;
    }
  }

  .m-hb-show {
    .g-header-bar {
      margin-top: 0;
    }
  }

  .m-app-name {
    position: relative;
    font-size: 40px;
    color: #a4a4a4;
    white-space: nowrap;
    font-weight: 600;
  }

  .m-app-name::after {
    content: "开发随笔";
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: ani 2s linear;
  }

  @keyframes ani {
    0% {
      width: 0;
      text-shadow: none;
    }

    100% {
      width: 100%;
      border: none;
    }
  }
}


.page-frame-ele {}