.g-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  .m-search {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }

  .m-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;

    .p-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    .p-list {
      display: flex;
      flex-wrap: wrap;
    }

    .p-scroll-bottom {
      text-align: center;
      color: rgba(204, 204, 204, .7);
      line-height: 32px;
    }
  }
}

.page-frame-ele {}