#knowledge-container {
  width: 100%;
  height: 100%;
  // background-color: var(--theme-bg-4);

  .kc-github {
    position: fixed;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 0 0 0 48px;
    border: 1px solid #ebebeb;
    border-top-width: 0;
    border-right-width: 0;
    text-align: right;
    display: block;
    box-shadow: 0 5px 5px #ccc;
    cursor: pointer;

    &-icon {
      font-size: 32px;
      color: #000;
    }

    &:hover {
      background-color: #e9efef;
    }
  }
}

.page-frame-ele {
  #knowledge-container {
    .kc-github {
      top: $page-frame-header-height;
    }
  }
}