$comp-name: 'items-row';

.#{$comp-name} {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  &-item {
    margin-left: 10px;
    max-width: 300px;
    vertical-align: middle;
    display: inline-block;
    line-height: 0;
  }
}