<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdj.blog.mapper.DocumentMapper">

    <!--    <resultMap id="DocMap" type="com.gdj.blog.entity.DocumentVO">-->
    <!--        <id column="id" property="id"/>-->
    <!--        <result column="name" property="name"/>-->
    <!--        <result column="create_time" property="createTime"/>-->
    <!--        <result column="update_time" property="updateTime"/>-->
    <!--        <result column="description" property="description"/>-->
    <!--        <result column="see" property="see"/>-->
    <!--        <result column="fileId" property="fileId"/>-->
    <!--        <collection property="tags" javaType="com.gdj.blog.entity.IdName">-->
    <!--            <id column="tag_id" property="id"/>-->
    <!--            <result column="tag_name" property="name"/>-->
    <!--        </collection>-->
    <!--        &lt;!&ndash;        <association property="route" javaType="com.gdj.blog.entity.IdName">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <id column="route_id" property="id"/>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <result column="route_name" property="name"/>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </association>&ndash;&gt;-->
    <!--    </resultMap>-->

    <!--    <select id="pageData" resultMap="DocMap">-->
    <!--        SELECT-->
    <!--        d.*,-->
    <!--        r.id AS route_id,-->
    <!--        r.name AS route_name-->
    <!--        FROM document d-->
    <!--        LEFT JOIN route r-->
    <!--        ON r.id = d.route_id-->
    <!--        <if test="pageNumber != null">-->
    <!--            LIMIT #{pageNumber}, #{pageSize}-->
    <!--        </if>-->
    <!--    </select>-->

</mapper>