$zIndex: 999;

.g-fixed-view {
  position: relative;

  .menu-button {
    position: fixed;
    top: 8px;
    left: 8px;
    font-size: 16px;
    padding: 4px 8px;
    height: auto;
    z-index: $zIndex;
    line-height: auto;
  }

  .mode-switch {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: $zIndex;
  }
}